body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.startBackground {
    background-image: url("./../assets/startScreenBackground.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/*centering the PlayGame and GameRules buttons to be aligned on any screen size*/
.centerPlayGame{
    margin: 0;
    position: absolute;
    top: 60%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.centerGameRules{
    margin: 0;
    position: absolute;
    top: 80%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.button {
    background-color: lightcyan;
    border: none;
    color: black;
    padding: 16px 32px;
    text-align: center;
    font-size: 16px;
    font-family: Stencil;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}
.button:hover {opacity: 1}
#How-to-Play-Header {
    font-family: Stencil;
    position: center;
}