body, html {
    height: 100%;
    width: 100%;
    margin: 0;
}

.startBackground {
    background-image: url("assets/startScreenBackground.png");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.center {
    display: block;
    margin: auto;
    width: 50%;
}
